body {
    background-color: black;
    color: red;
}

h1 {
    color: blue;
    text-align: center;
}

/* git diff */
/* git checkout */
/* git add -A */
/* git status */
/* git commit -m "ここに変更内容" */
/* git log */